*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #F4F1DE;
}
nav
{
    height: 100vh;
    position: fixed;
    width: 18%;
    background-color: #272030;
    border-right: 5px solid #FE5161;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
nav *
{
    background-color: transparent;
    color: #FFF9E5;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 39px;
}
nav img
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    background-color: transparent;
}
.links
{
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.subLink
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navDistance
{
    width: 8%;
}
.scrollContainer
{
    background-color: transparent;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 82%;
    height: 100vh;
    margin-left: 18%;
}
.scrollContainer *
{
    background-color: transparent;
}
.scrollContainer::-webkit-scrollbar 
{
    display: none;
}
.scrollScreen
{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}
.summarySection
{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F4F1DE;
}
.summary
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #272030;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
.summaryRose
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.reviewSection
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F4F1DE;
}
.reviewRose
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    transform: rotate(60deg);
}
.review
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #272030;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.head1
{
    font-size:48px;
    line-height: 78px;
    text-decoration: underline #FE5161 5px;
}
.stars
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.stars img
{
    width: 20%;
    opacity: 0.5;
}
.stars img:hover
{
    cursor: pointer;
    opacity: 1;
}