*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #56dbd5, white 80%);
}
nav
{
    height: 100vh;
    position: fixed;
    width: 18%;
    background-color: #2e403e;
    border-right: 5px solid #5A5A5A;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
nav *
{
    background-color: transparent;
    color: floralwhite;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    line-height: 30px;
}
nav img
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    background-color: transparent;
}
.links
{
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.subLink
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navDistance
{
    width: 8%;
}
.scrollContainer
{
    background-color: transparent;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 82%;
    height: 100vh;
    margin-left: 18%;
}
.scrollContainer *
{
    background-color: transparent;
}
.scrollContainer::-webkit-scrollbar 
{
    display: none;
}
.scrollScreen
{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}
header
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header img
{
    width: 35%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
header .scroller
{
    width: 100px;
    height: 100px;
    background-color: floralwhite;
    border: 5px solid #5A5A5A;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    transition: transform 0.7s, box-shadow 0.7s;
}
header .scroller:hover
{
    transform: scale(1.2);
    box-shadow: 0 0 50px 5px #5A5A5A;
    transition: transform 0.2s, box-shadow 0.2s;
}


.categories
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.categories .category
{
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: #5A5A5A 5px solid;
    border-bottom: #5A5A5A 5px solid;
    background-color: #2e403e;
}
.categories .category a:not(:last-child)
{
    height: 100%;
    aspect-ratio: 16/9;
    clip-path: polygon(0 00, 100% 0, 70% 100%, 0% 100%);
}
.categories .category a:nth-child(1)
{
    z-index: 3;
}
.categories .category a:nth-child(2)
{
    transform: translateX(-30%);
    z-index: 2;
}
.categories .category a:nth-child(3)
{
    transform: translateX(-60%);
    z-index: 1;
}
.categories .category a img
{
    height: 100%;
    width: 100%;
}
.categories .category a:last-child
{
    text-decoration: none;
    color: floralwhite;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 100px;
}