*
{
    margin: 0;
    padding: 0;
}
:root
{
    --background1: #FF5F6D;
    --background2: #ffb752;
    --backcolor: #3C474B;
    --bordercolor: #c31432; 
    --textcolor: #FFF9E5;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, var(--background2), var(--background1) 80%);
}
nav
{
    height: 100vh;
    position: fixed;
    width: 18%;
    background-color: var(--backcolor);
    border-right: 5px solid var(--bordercolor);
    display: flex;
    flex-direction: column;
    z-index: 99;
}
nav *
{
    background-color: transparent;
    color: var(--textcolor);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 39px;
}
nav img
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    background-color: transparent;
}
.links
{
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.subLink
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navLink
{
    overflow: hidden;
    white-space: nowrap;
}
.navDistance
{
    width: 8%;
}
.scrollContainer
{
    background-color: transparent;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 82%;
    height: 100vh;
    margin-left: 18%;
}
.scrollContainer *
{
    background-color: transparent;
}
.scrollContainer::-webkit-scrollbar 
{
    display: none;
}
.scrollScreen
{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    position: relative;
}
.slider 
{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slider img
{
    flex: 0 0 auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    scroll-snap-align: start;
}
.slider-nav 
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.slider-button 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--backcolor);
    border: var(--bordercolor) 5px solid;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    width: 75px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: var(--textcolor);
    transition: 700ms ease-in-out;
}
.slider-button:hover
{
    transition: 200ms ease-in;
    scale: 1.1;
    background-color: var(--bordercolor);
    color: var(--backcolor);
}
.prev-button 
{
    left: 48px;
}
.next-button 
{
    right: 48px;
}
.title
{
    position: absolute;
    top: 0;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background-color: var(--backcolor);
    border-bottom: var(--bordercolor) 5px solid;
    border-right: var(--bordercolor) 5px solid;
    border-bottom-right-radius: 5px;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.summarySection
{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background);
}
.summary
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
.summaryRose
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.rose img
{
    width: 400px;
}
.reviewSection
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background);
}
.reviewRose
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    transform: rotate(60deg);
}
.review
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--textcolor);
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.head1
{
    font-size:48px;
    line-height: 78px;
    text-decoration: underline var(--bordercolor) 5px;
}
.stars
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.stars img
{
    width: 20%;
    opacity: 0.5;
}
.stars img:hover
{
    cursor: pointer;
}
.filter
{
    opacity: 1;
    filter: invert(82%) sepia(19%) saturate(5887%) hue-rotate(1deg) brightness(107%) contrast(103%);
}
.rated
{
    filter: invert(82%) sepia(19%) saturate(5887%) hue-rotate(1deg) brightness(107%) contrast(103%);
}